*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    padding: 1rem 2rem;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-right: 5rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #646cff;
}